body {
    background-image: url("../img/silb_background.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}


h1#mainTitle {
    text-align: center;
    font-size: 72pt;
    color: #bada55;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
}

.field {
    margin: 10px;
}


.title {
    margin: 10px 0 20px 10px
}

#serverMessage {
    display: block;
    margin: 10px;
    font-size: large;
    max-width: fit-content;
}

#navAides {
    text-align: right;
    display: inline;
    width: 100%;
    max-height: 15vh;
}

#navAides a {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: medium;
    padding: 20px;
    line-height: 2;
    float: right;
    margin: 0 5px;
}

#mainEntry {
    color: white;
    background: black;
    padding: 1vw;
    font-size: xx-large;
    width: 8vw;
    height: 4vw;
    text-align: center;
    line-height: 2;
    position: fixed;
    bottom: 50px;
    left: 45vw;
}

#mainPage {
    display: flex;
    flex-direction: column;
}

#alerts{
    display: flex;
    flex-direction: column;
}

#alerts tr{
    display: flex;
    flex: 1;
}

td, th {
    border: 1px solid black;

}

td.large, th.large {
    display: flex;
    flex:10;
}

td.medium, th.medium {
    display: flex;
    flex:5;
}

td.small, th.small {
    display: flex;
    flex: 1;
    min-width: 2%;
    max-width: 2%;
    background: grey;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

td.small:hover {
    background: lightgray;
}

td.small:active {
    background: yellow;
}

select {
    width: 100%;
}

#moreRows {
    width: fit-content;
}

#loginForm, #changePswForm {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
}

#welcome-message {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: medium;
    padding: 20px;
    line-height: 2;
    display: inline;
    width: fit-content;
    float: left;
    margin: 0 5px;
}

div#tableBg{
    background: rgba(255, 255, 255, 0.7);
    min-height: 80vh;
}